.tui-checkbox {
  padding-left: 39px;
  border-left: 6px double transparent;
  border-right: 6px double transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.tui-checkbox:focus-within {
  border-color: white;
}